.navbar {
  text-transform: uppercase;
  background-color: #B82601!important;
}

.navbar-brand {
  font-weight: bold;
  text-transform: capitalize;
}

.first {
  color: #FFD700;
  text-transform: uppercase;
}