.navbar {
  text-transform: uppercase;
  background-color: #B82601!important;
}

.dropdown-item {
  text-transform: capitalize;
}

.navbar-brand {
  font-weight: bold;
  text-transform: capitalize;
}

.first {
  color: #FFD700;
  text-transform: uppercase;
}

.dropdown-menu h6 {
  margin-left: 25px!important;
}