#contactinfo {
  border-top: 2px solid #FFD700;
  height: 65px;
  background-color: #B72501;
}

.img-fluid {
  width: 3em;
  max-width: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
  margin: 10px 20px 10px 0px;
}