<main>
  <div class="container">
    <div class="container" id="aboutmedescription">
      <h2>About Me</h2>
      <img [src]="'assets/images/fullbodyshot.png'" alt="Mariel sitting in a bookstore" id="marielsitting">
      <p>My name is Mariel Martinez. I go by Mares. I just graduated with a Computer Programmer Diploma from Sheridan College, and also have a Bachelor’s of Business Administration (BBA) from Schulich at York University. Before coming to Sheridan, I worked in the sales department at Trend Hunter, a market research firm in Toronto. There, I worked with executives at Fortune 500 companies to accelerate their innovation process using Trend Hunter's consumer insights platform.</p>
      <p>Working at Trend Hunter sparked my passion for innovation. I decided to go back to school because I want to
        learn how to build the future, instead of telling other people about it. I feel that my experience working with clients in sales will give me a unique perspective as a developer.</p>
    </div>
    <div id="education" class="container">
      <h2>Education</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th colpspan="2">Computer Programmer Diploma, 4.00 GPA</th>
            <td>Sheridan College (2018 - 2019)</td>
          </tr>
          <tr>
            <th colpspan="2">Bachelor of Business Administration (BBA)</th>
            <td>Schulich School of Business, York University (2012 - 2016)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="workexperience" class="container">
      <h2>Work Experience</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th colspan="2">Trend Hunter (Jan 2017 - Dec 2017)</th>
          </tr>
          <tr>
            <td>Business Innovation Specialist</td>
            <td>Trend Hunter is the world's largest trend spotting platform. My job was to connect with executives in marketing, consumer insights, and innovation to help them accelerate their innovation process.</td>
          </tr>
          <tr>
            <th colspan="2">Siamese Thai Cuisine (Jul 2015 - Dec 2016)</th>
          </tr>
          <tr>
            <td>Server</td>
            <td>In addition to the responsibilities you'd expect of a server, I also worked closely with the owners during large events and excelled in the fast-paced environment.</td>
          </tr>
          <tr>
            <th colspan="2">Indigo Books & Music (Jul 2014 - Jan 2015)</th>
          </tr>
          <tr>
            <td>Customer Experience Representative</td>
            <td>The main responsibility of a CER is to enhance the customer experience. In my time at Indigo, I
              learned how to channel my sociability into customer service skills and share my passion for reading with
              everyone I met.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>