<div class="project">
    <h5>Project Name</h5>
    <div class="row">
      <div class="col-md">
        <img class="projectthumbnail img-fluid" [src]="'assets/images/project_dnd.png'"
          alt="Screenshot of Dungeons and Dragons application">
      </div>
      <div class="col-md">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat elit justo. Aenean venenatis risus eu
          eros mattis ornare.</p>
        <button class="btn btn-light">Live Demo</button>
      </div>
    </div>
</div>