<div class="project">
  <h5>{{ projectoverview.name }}</h5>
  <img class="projectthumbnail img-fluid" [src]="projectoverview.imageUrl"
    alt="Screenshot of {{ projectoverview.name }} application" [hidden]="!projectoverview.imageUrl" />
  <p>{{projectoverview.description}}</p>
  <a [href]="projectoverview.homepage" [hidden]="!projectoverview.has_pages" target="_blank" class="btn btn-light">
    Live Demo</a>
  <a [href]="projectoverview.html_url" target="_blank" class="btn btn-outline-light">
    See Code</a>
</div>