main {
  margin:  auto;
  background-color: white;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  width: 80%;
}

#headshot {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
  margin: 0px auto 20px auto;
  width: 80%;
}

#skills {
  padding-top: 20px;
}

#skills, #aboutme {
  margin-bottom: 40px;
}

@media (max-width: 768px) { 
  main {
    width: 100%;
  }
}