<div>
  <app-showcase></app-showcase>
  <app-contact></app-contact>
  <main>
    <div class="light container">
      <div id="skills" class="container">
        <h2>Technical Skills</h2>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Back-End</th>
              <td>C#, Java, Web Services</td>
            </tr>
            <tr>
              <th scope="row">Front-End</th>
              <td>JavaScript, ASP.NET, jQuery, Bootstrap, HTML5, CSS3, JSP, AJAX, JSON, XML</td>
            </tr>
            <tr>
              <th scope="row">Frameworks/Tool</th>
              <td>Git Bash, Adobe Photoshop, Adobe XD, NPM</td>
            </tr>
            <tr>
              <th scope="row">Servers/Data</th>
              <td>Oracle, SQL Server, Tomcat, ADO.NET, JDBC</td>
            </tr>
            <tr>
              <th scope="row">IDEs</th>
              <td>Visual Studio Code, NetBeans, Visual Studio Community, Notepad++</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="aboutme" class="container">
        <h2>About Me</h2>
        <div class="row">
          <div class="col-md-3">
            <img id="headshot" [src]="'assets/images/headshot.jpg'" alt="Mariel smiling">
          </div>
          <div class="col-md-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat elit justo. Aenean venenatis
              risus
              eu eros mattis ornare. Nullam at gravida justo, sit amet pulvinar nisi. Donec sagittis velit id dignissim
              gravida. Nunc viverra fringilla ipsum in bibendum. </p>
            <p>Maecenas egestas non eros eu dapibus. Proin congue augue quis tincidunt eleifend. Nullam varius porttitor
              urna,
              nec laoreet mi finibus quis. Aenean pellentesque, ipsum eget tincidunt ultricies, odio erat.</p>
            <button class="btn btn-outline-dark">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <app-projectoverviewlist></app-projectoverviewlist>
  </main>
</div>