main {
  margin:  auto;
  background-color: white;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}

.container {
  padding: 0px!important;
}

.light  {
  padding: 30px 30px;
}

#headshot {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}

#skills, #aboutme {
  margin-bottom: 40px;
}

#projects {
  background-color: #242424;
  color: white;
  padding: 5% 10%;
}

.projectthumbnail {
  border-radius: 10px;
  box-shadow: 3px 3px 10px white;
}

#projects .row {
  margin-bottom: 30px;
}